h1,h2,h3,h4,h5,h6{
    font-family: 'Campton Bold';
}
header{
    height: 10vh;
}
.btn{
    font-family: 'Campton Medium';
}
label{
    font-family: 'Campton Medium';
}
.pointer{
    cursor: pointer;
}
.text-def{
  color: #003366;
}
.text-link{
  font-family: 'Campton Medium';
}
body{
  font-family: 'Campton Light';
}
a, a:hover, a:active{
  text-decoration: none;
  font-family: 'Campton Medium';
}
.text-sm{
  font-size: 14px;
}
.brd-left{
  border-left: 1px solid #707070;
}
.pl-5-5{
  padding-left: 3.5rem !important;
}
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

/* Login Css */
.body-wrapper{
    height: 90vh;
    background-image: url('../img/bg/Login_BG.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.user_card{
    width: 22rem;
    padding: 5rem;
    color: #003366;
}
.user_card h2:hover{
    color: #EB2232;
}
.custom-input{
    width: 100%;
    border: solid 1px #707070;
    padding: 2.5vh 20px;
    position: relative;
}
.custom-input.disabled {
    background: rgb(235, 235, 235);
  }
  .custom-input:focus-within {
    border-left: 5px solid #003366;
  }
  .cust-field, .cust-field-2, .date-input{
    border: none;
  }
  .cust-field:focus, .cust-field-2, .date-input{
    outline: none !important;
  }

  .btn-glb, .btn-glb:hover{
    color: #fff;
    background-color:#FF0032;
    border-radius: 3px;
  }
  .show-txt{
    color: #003366;
    font-family: 'Campton Bold';
  }
.forgot-text{
    border-bottom: 1px dashed #003366;
    color: #003366 !important;
}
  /* End Of Login Css */

/* Sidebar */
.sidebar{
  list-style: none;
}
.sidebar li{

}
.bar-item a{
  color: #fff;
}

.bar-item .active{
  font-family: 'Campton Bold';
}

/* sidebar ends */

/* Main dashboard */
.money-card{
  background-color: #F9F9F9;
  border-radius:10px; 
  color: #101010;
  font-weight: 600;
}
.money-card .debt{
  color: #EB2232;
}
.pills{
  border: #82ADD8 solid 1px;
  border-radius: 19px;
  color: #003366;
  font-family: 'Campton Light';
}
.pills:hover{
  background-color:#EBEBEB;
}
.card{
  border-radius: 10px;
}
.bd-rt{
  border-right: 1px solid #707070;
}
.suc-pill{
  border-radius: 19px;
  background-color: rgba(0, 198, 61, 0.1);
  color: #101010 !important;
  width: 150px;
}
.failed-pill{
  background-color: rgba(254, 193, 0, 0.1);
  border-radius: 19px;
  color: #101010 !important;
  width: 150px;
}
.pend-pill{
  border-radius: 19px;
  background-color: rgba(235, 34, 50, 0.1);
  color: #101010 !important;
  width: 150px;
}

/***Cash Transaction ***/
.modal-pill{
  background-color: transparent linear-gradient(180deg, #075DB2 0%, #003366 100%) 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #82ADD8;
  border-radius: 19px;
}
.nav-pills .nav-link {
  border-radius: .25rem;
  color: #003366;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: #fff;
  box-shadow: 0px 3px 6px #82ADD8;
  border-radius: 19px;
  background-image: linear-gradient(180deg, #075DB2, #003366);
}
.custom-input-2{
  width: 100%;
  border: solid 1px #82ADD8;
  padding: 0.75rem;
  position: relative;
  border-radius: 5px;
}
.custom-input-2-1{
  width: 100%;
  border: solid 1px #82ADD8;
  padding: 0.75rem;
  position: relative;
  border-radius: 5px;
}

.cust-field-2{
  background-color: inherit;
  width: 100% !important;
}
.custom-input-2:focus-within {
  color: #003366;
}
.vh-7{
  height: 7vh;
  text-align: center;
}
.amount-box{
  width: 100%;
  border-radius: 10px;
  border: 1px solid rgba(112, 112, 112, 0.1);
  /* height: 100%; */
  background-color: rgba(211, 214, 230, 0.1);
}
.amount-box p{
  color: #003366;
  font-size: 28px;
  font-family: "Campton Bold";

}
.submit-btn{
  background-color: #FF0032;
  color: #fff;
  width: 300px;
}

.pointer-text{
  color: #003366;
  border-bottom: 1px dashed #003366;
  cursor: pointer;
}
.scan-btn{
  background-color: #fff;
  border: 1px solid #82ADD8;
  border-radius: 19px;
  width: 80px;
}
.scan-txt{
  font-size: 14px;
  color: #242E64 !important;
}
.statement .list-group-item{
    border-right: none !important;
    border-left: none !important;
}
.list-group-item:first-child{
  border-top: none;
  border-top-right-radius: inherit;
}
li .list-group-item:last-child{
  border-bottom: none !important;
  border-top-right-radius: inherit;
}
th, td{
  padding-left: 2rem !important;
  padding-bottom: 1rem !important;
  padding-top: 1rem !important;
}
th{
  color: #003366 !important;
  font-family: 'Campton Medium';
}



/* Collection Reports */
.filter-btn{
  color: #fff;
  background-color: #FF0032;
  width: 200px;
  height: 55px;
}
.form-border{
  border:1px solid rgba(16, 16, 16, 0.29);
  height:55px;
  align-items:center;
  border-radius: 4px;
} 
.date-input{

}